.color1 {
    --primary-color: #F6E148;
    --darker-color: #776E2E;
}

.color2 {
    --primary-color: #80D7C4;
    --darker-color: #3F7165;
}

.color3 {
    --primary-color: #FAD9EA;
    --darker-color: #805E6F;
}

.color4 {
    --primary-color: #ACC5FE;
    --darker-color: #425174;
}

.color5 {
    --primary-color: #FF8BC7;
    --darker-color: #813F61;
}